<!DOCTYPE html>
<html>
<head>
    <title>Bookshare</title>
   <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="left-column">
        <div class="genres">
            Gêneros
        </div>
        <ul class="genre-list">
          <li><%= link_to "Ficção", books_path(genre: "Ficção") %></li>
          <li><%= link_to "Romance", books_path(genre: "Romance") %></li>
          <li><%= link_to "Biografia", books_path(genre: "Biografia") %></li>
          <li><%= link_to "Autoajuda", books_path(genre: "Autoajuda") %></li>
          <li><%= link_to "Suspense", books_path(genre: "Suspense") %></li>
        </ul>
        <a class="btn btn-lg btn-info" href="/books/my_titles">Meus Títulos</a>
    </div>
    <div class="book-suggestion">
      <% @books.each do |book| %>
      <%= link_to book_path(book) do %>
        <div class="book-box" onclick="selectBook('O Livreiro de Cabul')">
        <% if book.image.nil? %>
        <div class="border border-5">
          <%= image_tag 'https://cdn-icons-png.flaticon.com/512/2232/2232688.png', width: "300px" %>

        <% else  %>
        <%= image_tag book.image, width: "300px" %>
        <% end %>
            <div class="book-title"><%= book.title.truncate(22) %></div>
            <div class="book-author"><%= book.author_name %></div>
            <div class="book-genre"><%= book.genre %></div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
