<!DOCTYPE html>
<html>
<head>
    <title>Bookshare</title>
   <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="left-column">
        <div class="genres">
            Gêneros
        </div>
        <ul class="genre-list">
            <li onclick="selectGenre('Ficcao Cientifica')">Ficção Científica</li>
            <li onclick="selectGenre('Fantasia')">Fantasia</li>
            <li onclick="selectGenre('Mistério/Thriller')">Mistério/Thriller</li>
            <li onclick="selectGenre('Romance')">Romance</li>
            <li onclick="selectGenre('Não Ficção')">Não Ficção</li>
            <li onclick="selectGenre('Biografia')">Biografia</li>
            <li onclick="selectGenre('Autoajuda')">Autoajuda</li>
            <li onclick="selectGenre('Suspense')">Suspense</li>
            <li onclick="selectGenre('Literatura Clássica')">Literatura Clássica</li>
            <li onclick="selectGenre('Poesia')">Poesia</li>
        </ul>
        <a class="btn btn-lg btn-info" href="/books/my_titles">Meus Títulos</a>
    </div>
    <div class="book-suggestion">
      <% @books.each do |book| %>
      <%= link_to book_path(book) do %>
        <div class="book-box" onclick="selectBook('O Livreiro de Cabul')">
        <% if book.image.nil? %>
        <%= image_tag 'https://cdn-icons-png.flaticon.com/512/2232/2232688.png', width: "300px" %>
        <% else  %>
        <%= image_tag book.image, width: "300px" %>
        <% end %>
            <div class="book-title"><%= book.title.truncate(22) %></div>
            <div class="book-author"><%= book.author_name %></div>
            <div class="book-genre"><%= book.genre %></div>
        </div>
        <% end %>
      <% end %>
    </div>
