<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://sunrise.ng/wp-content/uploads/2021/02/Book-Giving-Day.jpg)">
  My Titles
</div>
<div class="container">

  <div class="row justify-content-around">
    <% if @books.count.zero? %>
      <h2>Nenhum livro disponível</h2>
    <% end %>

    <% @books.each do |book| %>

      <div class="card-product mt-3 col-5">
        <%= image_tag book.image %>
          <div class="card-product-infos">
          <h3><%= link_to book.title, book_path(book), class: "text-decoration-none link-dark" %></h3>
          <p>Author: <%= book.author_name %></p>
          <div class="d-flex">
            <%= button_to  "Edit", edit_book_path(book), class: "me-2" %>
            <%= button_to  "Delete", book_path(book), data:{turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          </div>
          </div>
      </div>
      <% end %>
  </div>
</div>
