
<div class="container">

  <div class="justify-content">
    <h1>Disponibilizar para locação</h1>
  </div>

  <%= simple_form_for(@book) do |form| %>

  <div class="row justify-content-center">
    <div class="col-md-4 text-center" data-controller='preview'>
      <%= form.input :image, input_html: {data: {action: 'input->preview#img'}} %>
      <div data-preview-target='image'>
      </div>
    </div>

    <div class="col-md-6">
      <%= form.input :title %>
      <%= form.input :author_name %>
      <%= form.input :genre %>
      <%= form.input :published_year %>
      <%= form.input :description %>
      <%= form.submit "Salvar", class: 'btn btn-primary' %>
    </div>



    <%= form.submit "Salvar", class: 'btn btn-primary' %>
  </div>

  <% end %>
</div>
